*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(20, [col-start] minmax(min-content, 1fr) [col-end]) [content-end] 1fr [full-end];
  grid-template-rows: 50px calc(100vh - 50px) 50vh min-content 40vh 50px; }

.container2 {
  display: grid;
  grid-template-columns: 50px repeat(8, minmax(115px, 1fr)) 50px;
  grid-template-rows: repeat(20, min-content);
  height: 100vh; }
  @media only screen and (max-width: 1280px) {
    .container2 {
      grid-template-columns: 25px repeat(8, minmax(100px, 1fr)) 25px; } }
  @media only screen and (max-width: 667px) {
    .container2 {
      grid-template-columns: 8px repeat(4, minmax(10px, 1fr)); } }

.Mainsection {
  display: grid;
  padding-left: 100px;
  padding-right: 250px;
  grid-template-rows: repeat(4, min-content);
  grid-column: 4/-1;
  grid-row: 2/-1;
  overflow: scroll;
  height: calc(100vh - 42px); }
  @media only screen and (max-width: 1080px) {
    .Mainsection {
      padding-left: 60px;
      padding-right: 100px; } }
  @media only screen and (max-width: 900px) {
    .Mainsection {
      grid-row: 3/-1;
      grid-column: 1/-1; } }
  @media only screen and (max-width: 667px) {
    .Mainsection {
      grid-template-rows: repeat(20, minmax(10px, 1fr));
      grid-column: 1/-1;
      padding-left: 20px; } }

.Navbar {
  display: grid;
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-content: end;
  font-family: 'Bangers', cursive;
  background-color: white;
  z-index: 1; }
  .Navbar__name {
    font-size: 40px;
    width: 150px; }
    .Navbar__name a {
      text-decoration: none;
      color: #E75E5E; }

.Sidenav {
  display: grid;
  grid-template-columns: repeat(6, minmax(20px, 1fr));
  grid-template-rows: repeat(10, 100px);
  grid-column: 2/4;
  font-family: "Bangers", cursive;
  height: calc(100vh - 42px); }
  @media only screen and (max-width: 900px) {
    .Sidenav {
      grid-column: 1/-1;
      grid-row: 2/3;
      grid-template-rows: 20px 60px 20px;
      height: auto; } }
  @media only screen and (max-width: 667px) {
    .Sidenav {
      grid-column: 1/6;
      grid-template-rows: repeat(2, minmax(10px, 1fr)); } }
  .Sidenav__picture {
    grid-column: 1/-1;
    grid-row: 1/6;
    min-width: 200px; }
    @media only screen and (max-width: 900px) {
      .Sidenav__picture {
        grid-row: 1/-1; } }
    .Sidenav__picture img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    @media only screen and (max-width: 667px) {
      .Sidenav__picture {
        grid-row: 1/-1;
        display: none;
        min-width: 200px; } }
  .Sidenav__menubar {
    grid-column: 2/-2;
    grid-row: 2/5;
    font-size: 30px;
    min-width: 200px;
    line-height: 55px;
    background-color: purple; }
    @media only screen and (max-width: 1080px) {
      .Sidenav__menubar {
        grid-column: 1/-1; } }
    @media only screen and (max-width: 900px) {
      .Sidenav__menubar {
        grid-row: 2/3;
        grid-column: 2/-2; } }
    @media only screen and (max-width: 667px) {
      .Sidenav__menubar {
        grid-template-rows: repeat(6, minmax(20px, 1fr));
        grid-column: 1/-1; } }
    .Sidenav__menubar ul {
      list-style-type: none; }
      @media only screen and (max-width: 900px) {
        .Sidenav__menubar ul {
          display: flex;
          justify-content: space-around;
          margin: 0;
          padding: 0; } }
      @media only screen and (max-width: 667px) {
        .Sidenav__menubar ul {
          grid-template-rows: repeat(6, minmax(20px, 1fr));
          display: inline; } }
      .Sidenav__menubar ul li a {
        color: #BCB859;
        text-decoration: none; }

.About {
  display: grid;
  grid-template-columns: repeat(8, minmax(max-content, 1fr));
  grid-column: 1/-1;
  font-family: "Bangers", cursive;
  height: 600px; }
  .About__bio {
    grid-column: 1/-1;
    color: #000;
    font-size: 24px; }
    @media only screen and (max-width: 1080px) {
      .About__bio {
        height: 700px; } }
    @media only screen and (max-width: 900px) {
      .About__bio {
        padding-top: 40px; } }
    @media only screen and (max-width: 667px) {
      .About__bio {
        grid-row: 1/-1;
        grid-column: 1/-1; } }
    .About__bio img {
      width: 200px;
      object-fit: cover;
      border-radius: 100%; }
    .About__bio .mybio span.red {
      color: #E75E5E;
      font-size: 32px; }

#Content {
  font-family: "Bangers", cursive; }
  #Content .Webdev {
    color: #000;
    font-size: 64px;
    line-height: 68px; }
    #Content .Webdev .web {
      border-bottom: 40px;
      border-bottom-color: #E75E5E;
      border-bottom-style: solid;
      border-bottom-width: thick;
      font-size: 64px;
      line-height: 68px;
      width: 500px; }
    #Content .Webdev__switchit {
      font-size: 24px;
      line-height: 26px;
      color: #000; }
    #Content .Webdev__bikes {
      font-size: 24px;
      line-height: 26px;
      color: #000; }
    #Content .Webdev__coursecatalog {
      font-size: 24px;
      line-height: 26px;
      color: #000; }
    #Content .Webdev .titles {
      font-size: 50px;
      line-height: 53px;
      color: #BCB859;
      text-shadow: 3px 3px 0 #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
    #Content .Webdev .buttonstyle {
      width: 300px;
      height: 100px;
      padding: 10px;
      margin-right: 10px;
      border-radius: 0.1em;
      background-color: #BCB859;
      color: #E75E5E;
      border: 4px solid #000;
      text-decoration: none;
      text-shadow: 3px 3px 0 #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.webdevprojects {
  margin-bottom: 100px; }

#Resume {
  font-family: 'Bangers', cursive;
  height: 900px;
  padding-bottom: 80px; }
  #Resume .resumeline {
    border-bottom: 40px;
    border-bottom-color: #E75E5E;
    border-bottom-style: solid;
    border-bottom-width: thick;
    font-size: 64px;
    line-height: 68px;
    width: 500px; }

#Contact {
  font-family: 'Bangers', cursive; }
  #Contact .headlinecontact {
    border-bottom: 40px;
    border-bottom-color: #E75E5E;
    border-bottom-style: solid;
    border-bottom-width: thick;
    font-size: 64px;
    line-height: 68px;
    width: 500px; }
  #Contact .emailaddress {
    text-decoration: none;
    color: black;
    font-size: 22px; }
  #Contact .info {
    width: 80%;
    margin: 86px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px grey;
    padding: 32px;
    font-size: 22px; }
    #Contact .info .messageBox {
      height: 230px;
      min-width: 250px;
      width: 100%; }
    #Contact .info .formbox {
      width: 250px;
      height: 25px; }
    #Contact .info .buttonstyling {
      display: flex;
      padding: 8px;
      border-radius: 1em;
      justify-content: end;
      font-size: 24px;
      padding: 10px;
      margin-right: 10px;
      border-radius: 0.1em;
      background-color: #BCB859;
      color: #E75E5E;
      border: 4px solid #000;
      text-decoration: none;
      font-family: "Bangers", cursive;
      text-shadow: 3px 3px 0 #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

#Technologies {
  grid-column: 1/-1;
  font-family: 'Bangers', cursive; }
  #Technologies .techs {
    border-bottom: 40px;
    border-bottom-color: #E75E5E;
    border-bottom-style: solid;
    border-bottom-width: thick;
    font-size: 64px;
    line-height: 68px;
    width: 500px; }
  #Technologies .tech2 {
    display: grid;
    grid-template-columns: repeat(12, minmax(max-content, 1fr));
    grid-template-rows: repeat(8, minmax(max-content, 0.4fr)); }
    #Technologies .tech2_one {
      grid-column: 1/2;
      grid-row: 1/2; }
    #Technologies .tech2 .ones {
      grid-column: 1/2;
      grid-row: 2/3;
      padding-left: 15px; }
    #Technologies .tech2_two {
      grid-column: 2/3;
      grid-row: 1/2;
      padding-left: 60px; }
    #Technologies .tech2 .twos {
      grid-column: 2/3;
      grid-row: 2/3;
      padding-left: 90px; }
    #Technologies .tech2_three {
      grid-column: 4/5;
      grid-row: 1/3;
      padding-left: 30px; }
    #Technologies .tech2 .threes {
      grid-column: 4/5;
      grid-row: 2/3;
      padding-left: 55px; }
    #Technologies .tech2_four {
      grid-column: 6/8;
      grid-row: 1/3;
      padding-left: 30px; }
    #Technologies .tech2 .fourth {
      grid-column: 5/-1;
      grid-row: 2/3;
      padding-left: 78px; }
    #Technologies .tech2_five {
      grid-column: 1/2;
      grid-row: 3/4; }
    #Technologies .tech2 .fifth {
      grid-column: 1/2;
      grid-row: 4/5;
      padding-left: 20px; }
    #Technologies .tech2_six {
      grid-column: 2/3;
      grid-row: 3/4;
      padding-left: 60px; }
    #Technologies .tech2 .sixth {
      grid-column: 2/3;
      grid-row: 4/4;
      padding-left: 70px; }
    #Technologies .tech2_seven {
      grid-column: 4/5;
      grid-row: 3/4;
      padding-left: 30px; }
    #Technologies .tech2 .seventh {
      grid-column: 4/5;
      grid-row: 4/4;
      padding-left: 50px; }
    #Technologies .tech2_eight {
      grid-column: 6/8;
      grid-row: 3/4;
      padding-left: 30px; }
    #Technologies .tech2 .eighth {
      grid-column: 5/-1;
      grid-row: 4/4;
      padding-left: 80px; }
    #Technologies .tech2_nine {
      grid-column: 1/2;
      grid-row: 5/6;
      padding-left: 10px; }
    #Technologies .tech2 .ninth {
      grid-column: 1/2;
      grid-row: 6/7;
      padding-left: 10px; }

svg {
  height: 100px; }
