.About {
  display: grid;
  grid-template-columns: repeat(8, minmax(max-content, 1fr));
  grid-column:1/-1;
  font-family: "Bangers", cursive;
  height: 600px; 

  //includes self image and bio
  &__bio {
    grid-column: 1/-1;
    color: $c-black;
    font-size: 24px;
  
  @media only screen and (max-width: $large) {
    height:700px;
  }
    //my image
    & img {
      width: 200px;
      object-fit: cover;
      border-radius: 100%;

    }
    .mybio {
      span.red {
        color: $c-red;
        font-size: 32px;
    
      }
    }
  }
}
