$c-black:  #000;

$c-pink: palevioletred;
$c-red: firebrick;
$c-yellow:#BCB859;
$c-purple:#9A2A7B;


$xlarge: 1024px; 
$large: 414px; //iPhone XR, XS Max
// $medium: 650px;
// $small: 450px;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


body {
  padding: 0;
  margin: 0;
  
}

.container {
  display: grid;

  grid-template-columns: [full-start] 1fr [content-start] repeat(20, [col-start] minmax(min-content, 1fr) [col-end]) [content-end]1fr [full-end];

  grid-template-rows: 50px calc(100vh - 50px) 50vh min-content 40vh 50px;

  @media only screen and (max-width: $large) {
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows:repeat(18, 1fr);
    // grid-template-rows: 50px calc(100vh - 50px) 100vh 50vh min-content 40vh 50px;
  }
}