#Contact{
  font-family: 'Bangers', cursive;
  
  .headlinecontact{
    border-bottom: 40px;
    border-bottom-color: $c-red;
    border-bottom-style: solid;
    border-bottom-width: thick;
    font-size: 64px;
    line-height: 68px;
    width:500px;
  }  
  .info{
    width: 80%;
    margin: 86px auto;
    border: 1px solid #eee;
    box-shadow:0 2px 3px grey;
    padding:32px;
    font-size:22px;

    .messageBox{
      height:230px;
      min-width:250px;
      width:100%; 
    }

    .formbox{
      width:250px;
      height:25px;
    }


    .buttonstyling{
      display:flex;
      padding:8px;
      border-radius: 1em;
      justify-content: end;
    }
  }



}
