#Contact{
  font-family: 'Bangers', cursive;
  font-family: 'Bangers', cursive;

  
  .info{
    border-bottom: 40px;
    border-bottom-color: $c-red;
    border-bottom-style: solid;
    border-bottom-width: thick;
    font-size: 64px;
    line-height: 68px;
    width:500px;
  }  

}