.Content{
  display:grid;
  grid-template-columns: repeat(18, minmax(max-content, 1fr));
  grid-template-rows:repeat(10, 1fr);
  grid-column: full-start / full-end;
  font-family: 'Bangers', cursive;
}


#webdev{
  grid-template-columns: repeat(6, minmax(min-content, 1fr));
  grid-template-rows:repeat(4, 1fr);
  grid-column: 8/17;
  grid-row: 1/8;
  color:$c-black;
  font-size: 64px;
  line-height: 68px;

  .web{
    border-bottom:40px;
    border-bottom-color: $c-red;
    border-bottom-style: solid;
    border-bottom-width: thick; 
    font-size: 64px;
    line-height: 68px;
  }

  .titles{
    font-size: 50px;
      line-height: 53px;
      color:$c-yellow;
  }
  .switchit{
    font-size: 24px;
    line-height: 26px; 
    color:$c-black;
    
  }

  .lunchmenu{
    font-size: 24px;
    line-height: 26px;
    color:$c-black;
  }

  .tvshows{
    font-size: 24px;
    line-height: 26px;
    color:$c-black;
  }
  button{
    padding:20px;
    border-radius: 2px;
    margin:40px;
    font-size: 12px;
  }
}