.Navbar {
  display:grid;
  grid-column: 1/-1;  //from container
  justify-content: end;
  font-family: 'Bangers', cursive;
  background-color: white;

  &__name{
    font-size:40px;
    width:150px;
  }
}

