.Navbar {
  display:grid;
  grid-column: 1/-1;  //from container
  grid-row:1/2;
  justify-content: end;
  font-family: 'Bangers', cursive;
  background-color: white;
  z-index: 1;
  

  &__name{
    font-size:40px;
    width:150px;
  }

  //size 1280
  @media only screen and (max-width: $xlarge) {
    grid-row:1/2;
    margin-top: 25px;
    grid-column:5/-1;
  }

    //size 1024
    @media only screen and (max-width: $large) {
      grid-row:1/2;
      margin-top: 25px;
      grid-column:5/-1;
    }

  
}

