#Resume{
  display:grid;
  grid-template-columns: repeat(8, minmax(max-content, 1fr));
  font-family: 'Bangers', cursive;
  height: calc(100vh - 60px);
  
  

  iframe{
    grid-column: 2/7;
  }

}



