.Sidenav {
  display: grid;
  grid-template-columns: repeat(6, minmax(20px, 1fr)); 
  grid-template-rows: repeat(10, 100px);
  grid-column: 2/4; //location accoring to container2
  font-family: "Bangers", cursive;
  height:calc(100vh - 42px);
 

  @media only screen and (max-width: $medium) {
      grid-column:1/-1;
      grid-row:2/3;
      grid-template-rows: 20px 60px 20px; //3 rows
      height:auto;
  }
 
  // this
  @media only screen and (max-width: $small) {   
    grid-column:1/6;
    grid-template-rows: repeat(1,minmax(0px,1fr));
    
  }

  &__picture {
    grid-column: 1/-1;
    grid-row: 1/6;
    min-width: 200px;
 

  @media only screen and (max-width: $medium) {
    grid-row:1/-1;
    
}

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
    @media only screen and (max-width: $small) {
      grid-row:1/-1;
      display:none;
      min-width: 200px;
    }
  }

  //side navbar including image
  &__menubar {
    grid-column: 2/-2;
    grid-row: 2/5;
    font-size: 30px;
    min-width: 200px;
    line-height: 55px;
    background-color:purple;
   
    

    @media only screen and (max-width: $large) {
      grid-column:1/-1;
  
    }
    @media only screen and (max-width: $medium) {
      grid-row:2/3;
      grid-column:2/-2;
     
  }
  @media only screen and (max-width: $small) {   
    // grid-template-rows: repeat(6,minmax(20px,1fr));
    grid-column: 1/-1;
    display:grid;
    justify-content:center;
    background-color: #003;
  }
   

    & ul {
      list-style-type: none;

      @media only screen and (max-width: $medium) {
        display:flex;
        justify-content: space-around;
        margin:0;
        padding:0;
      }

      @media only screen and (max-width: $small) {   
        grid-template-rows: repeat(6,minmax(20px,1fr));
        display:inline;
      }

      li {
        a {
          color: $c-yellow;
          text-decoration: none;
        }
      }

    }
    

  }
}
