.sticky{
  position:fixed;
  top:0;
  width:100%
}

.Sidenav {
  display:grid;
  grid-template-columns: repeat(20, minmax(max-content, 1fr));
  grid-template-rows:repeat(10, 1fr);
  grid-column: full-start / full-end;
  font-family: 'Bangers', cursive;
  
  // @media only screen and (max-width: $large) {
  //   grid-template-columns: repeat(30, 1fr);
  //   grid-template-rows: repeat(30, 1fr);
    
  // } 
 

  &__picture {
    grid-column: 2/7;
    grid-row:  2/9;
    min-width: 200px;

    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  //side navbar including image
  &__menubar {
    grid-column: 3/5;
    grid-row: 3/8;
    font-size:30px;
    min-width:200px;
    line-height: 75px; 

    & ul {
      list-style-type:none;
      background-color: $c-purple;
      color: $c-yellow;
    }

  }
 
  // displays the actual text and purple background for the navbar


  // shows the time and temp
  // &__timestamp{
  //   grid-column: 2/7;
  //   grid-row:8/9;
  //   font-size:22px;

    // @media only screen and (max-width: $large) {
    //   visibility: hidden;
    // }

  }
