#Technologies{
  font-family: 'Bangers', cursive;
  padding-bottom: 80px;
  .techs{
    border-bottom: 40px;
    border-bottom-color: $c-red;
    border-bottom-style: solid;
    border-bottom-width: thick;
    font-size: 64px;
    line-height: 68px;
    width:500px;
  }
 
}

svg{
  height: 60px;

}