#Technologies{
  grid-column:1/-1;
  font-family: 'Bangers', cursive;
  // padding-bottom: 80px;

    
  .techs{
    border-bottom: 40px;
    border-bottom-color: $c-red;
    border-bottom-style: solid;
    border-bottom-width: thick;
    font-size: 64px;
    line-height: 68px;
    width:500px;
  }
  
  .tech2{
    display: grid;
    grid-template-columns: repeat(20, minmax(max-content, 1fr));
    grid-template-rows: repeat(12, minmax(max-content, 1fr));
    // grid-column:1/-1;

    &_one{
      grid-column:1/2;
      grid-row:1/2;
    }

    .ones{
      grid-column:1/2;
      grid-row:2/3;
      padding-left: 30px;
    }


    &_two{
      grid-column:2/3;
      grid-row:1/2;
      padding-left: 30px;
    
    }
    .twos{
      grid-column:2/3;
      grid-row:2/3;
      padding-left: 90px;
    }

    &_three{
      grid-column:4/5;
      grid-row:1/3;
      padding-left: 30px;
     
    }
    .threes{
      grid-column:4/5;
      grid-row:2/3;
      padding-left: 70px;
    }

    &_four{
      grid-column:5/-1;
      grid-row:1/3;
      padding-left: 30px;
  
    }
    .fourth{
      grid-column:5/-1;
      grid-row:2/3;
      padding-left: 80px;
    }
    
  }

}

svg{

  height: 150px;
  
}